Q1. Create a class called "Person" with properties for "name", "age", and "gender". Create an object of this
class and print out its properties.

In [1]:
class Person:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender

In [2]:
pn=Person('abhishek',33,'Male')

In [3]:
print(pn.__dict__)

{'name': 'abhishek', 'age': 33, 'gender': 'Male'}

In [4]:
print(vars(pn))

{'name': 'abhishek', 'age': 33, 'gender': 'Male'}

In [5]:
display(pn.age,pn.name,pn.gender)

33

'abhishek'

'Male'

Q2. Write a Python class called "Rectangle" with attributes for "width" and "height". Implement methods
to calculate the area and perimeter of the rectangle. Create an instance of this class and use it to print out
the rectangle's area and perimeter.

In [6]:
class Rectangle:
    def __init__(self,width,height):
        self.w=width
        self.h=height
        
    def area(self):
        return self.w*self.h
    def perimeter(self):
        return 2*(self.w+self.h)

In [7]:
rc=Rectangle(4,5)

In [8]:
rc.h

5

In [9]:
rc.w

4

In [10]:
rc.area()

20

In [11]:
rc.perimeter()

18

Q3. Write a Python class called "BankAccount" with attributes for "balance" and "interest_rate".
Implement methods to deposit and withdraw money from the account, as well as to calculate the interest
earned on the balance based on the interest rate. Create an instance of this class and use it to test out the
implemented methods for deposit, withdrawal, and interest calculation.

In [12]:
class BankAccount:
    def __init__(self,balance,interest_rate):
        self.balance=balance
        self.interest_rate=interest_rate
        print("Value entered")
    
    def display(self):
        return self.balance,self.interest_rate
    
    def deposit(self,amount):
        self.balance=self.balance+amount
        
    def withdraw(self,amount):
        if self.balance>=amount:
            self.balance=self.balance-amount
        else:
            print("Balance is less than withdrawal")

In [13]:
ba=BankAccount(5000,10)

Value entered

In [14]:
ba.display()

(5000, 10)

In [15]:
ba.deposit(4000)

In [16]:
ba.display()

(9000, 10)

In [17]:
ba.withdraw(3000)

In [18]:
ba.display()

(6000, 10)

In [19]:
ba.withdraw(5000)

In [20]:
ba.display()

(1000, 10)

In [21]:
ba.withdraw(2000)

Balance is less than withdrawal

Q4. Write a Python class called "Animal" with attributes for "name" and "species". Create a subclass of
"Animal" called "Dog" with additional attributes for "breed" and "owner". Implement both classes with
appropriate methods and constructors to initialise their properties. Create instances of both classes and
use them to print out the various properties of the animals and dogs, such as their names, species,
breeds, and owners.

In [22]:
class Animal:
    def __init__(self,name,species):
        self.name=name
        self.species=species
    def display_animal(self):
        return self.name,self.species

In [23]:
class Dog(Animal):
    def __init__(self,name, species,breed,owner):
        super().__init__(name, species)
        self.breed=breed
        self.owner=owner
        
    def dog_display(self):
        return self.breed,self.owner

In [24]:
al=Animal('Tiger','Bulldog')

In [25]:
al.display_animal()

('Tiger', 'Bulldog')

In [26]:
dg=Dog('Jimmy','Canis lupus','Labrador ','Abhishek')

In [27]:
dg.display_animal()

('Jimmy', 'Canis lupus')

In [28]:
dg.dog_display()

('Labrador ', 'Abhishek')

In [29]:
dg.species

'Canis lupus'

Q5.Create a class called "Car" with properties for "make", "model", and "year". Create a subclass of "Car" called "ElectricCar" with additional properties for "battery_size" and "range". Create objects of both classes and print out their properties.

In [30]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
    
    def diaplay_car(self):
        return self.make,self.model,self.year

In [31]:
cr=Car('maruti','mq',2022)

In [32]:
cr.diaplay_car()

('maruti', 'mq', 2022)

In [33]:
class ElectricCar(Car):
    def __init__(self,make,model,year,battery_size,range):
        super().__init__(make,model,year)
        self.battery_size=battery_size
        self.range=range
        
    def display_Electric_Car(self):
        return self.make,self.model,self.year,self.battery_size,self.range

In [34]:
EC1=ElectricCar('Tata','Harrier',2021,4,1500000)

In [35]:
EC1.diaplay_car()

('Tata', 'Harrier', 2021)

In [36]:
EC1.display_Electric_Car()

('Tata', 'Harrier', 2021, 4, 1500000)

In [37]:
EC1.year

2021

Q6.Create a class called "Student" with properties for "name" and "id". Create a subclass of "Student" called "GraduateStudent" with additional properties for "advisor" and "research_area". Create objects of both classes and print out their properties.

In [38]:
class Student:
    def __init__(self,name,id):
        self.name=name
        self.id=id
        
    def display_student(self):
        return self.name,self.id

In [39]:
st1=Student("Abhishek",2)

In [40]:
st1.display_student()

('Abhishek', 2)

In [41]:
st1.name

'Abhishek'

In [42]:
st1.id

2

In [43]:
class GraduateStudent(Student):
    def __init__(self,name,id,advisor,research_area):
        super().__init__(name,id)
        self.advisor=advisor
        self.research_area=research_area
    
    def desiplay_GraduateStudent(self):
        return self.name,self.id,self.advisor,self.research_area

In [44]:
GS1=GraduateStudent('Nitesh',4,'Professor Pradhan','Data Science')

In [45]:
GS1.desiplay_GraduateStudent()

('Nitesh', 4, 'Professor Pradhan', 'Data Science')

In [46]:
GS1.research_area

'Data Science'

Q7. Create a class called "Shape" with methods to calculate the area and perimeter of the shape. Create subclasses of "Shape" for "Rectangle", "Circle", and "Triangle" with their own methods for calculating area and perimeter. Create objects of each class and print out their area and perimeter.

In [47]:
import math

# Define the Shape class
class Shape:
    def calculate_area(self):
        pass
    
    def calculate_perimeter(self):
        pass

# Define the Rectangle class, which inherits from Shape
class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height
    
    def calculate_area(self):
        return self.width * self.height
    
    def calculate_perimeter(self):
        return 2 * (self.width + self.height)

# Define the Circle class, which inherits from Shape
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius
    
    def calculate_area(self):
        return math.pi * self.radius ** 2
    
    def calculate_perimeter(self):
        return 2 * math.pi * self.radius

# Define the Triangle class, which inherits from Shape
class Triangle(Shape):
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def calculate_area(self):
        s = (self.a + self.b + self.c) / 2
        return math.sqrt(s * (s - self.a) * (s - self.b) * (s - self.c))
    
    def calculate_perimeter(self):
        return self.a + self.b + self.c

# Create objects of each class and print out their area and perimeter
rectangle = Rectangle(5, 3)
print("Rectangle area:", rectangle.calculate_area())
print("Rectangle perimeter:", rectangle.calculate_perimeter())

circle = Circle(4)
print("Circle area:", circle.calculate_area())
print("Circle perimeter:", circle.calculate_perimeter())

triangle = Triangle(3, 4, 5)
print("Triangle area:", triangle.calculate_area())
print("Triangle perimeter:", triangle.calculate_perimeter())

Rectangle area: 15
Rectangle perimeter: 16
Circle area: 50.26548245743669
Circle perimeter: 25.132741228718345
Triangle area: 6.0
Triangle perimeter: 12

Q8.Create a class called "Employee" with properties for "name", "id", and "salary". Add methods to give the employee a raise and to calculate their annual salary. Create objects of this class and test out the methods.

In [48]:
class Employee:
    def __init__(self,name,id,salary):
        self.name=name
        self.id=id
        self.salary=salary
        
    def raise_salary(self,increment):
        self.salary=self.salary+self.salary*increment/100
        
    def annual_salary(self):
        return self.salary*12

In [49]:
emp1=Employee('Aniket',4,100000)

In [50]:
emp1.raise_salary(4)

In [51]:
emp1.salary

104000.0

In [52]:
emp1.annual_salary()

1248000.0

Q9.Create a class called "Book" with properties for "title", "author", and "publisher". Create a subclass of "Book" called "Ebook" with additional properties for "file_format" and "file_size". Create objects of both classes and print out their properties.

In [53]:
class Book:
    def __init__(self,title,author,publisher):
        self.title=title
        self.author=author
        self.publisher=publisher
        
    def display_book(self):
        return self.title,self.author,self.publisher

In [54]:
class Ebook(Book):
    def __init__(self,title,author,publisher,file_format,file_size):
        super().__init__(title,author,publisher)
        self.file_format=file_format
        self.file_size=file_size
        
    def display_EBook(self):
        return self.title,self.author,self.publisher,self.file_format,self.file_size

In [55]:
book1=Book('Think and Grow Rich','Nopalien Hill','The Ralston Society')

In [56]:
book1.display_book()

('Think and Grow Rich', 'Nopalien Hill', 'The Ralston Society')

In [57]:
Ebook1=Ebook('Scion of Ikshvaku','Amish Tripathi','Westland Press','pdf','100kb')

In [58]:
Ebook1.display_EBook()

('Scion of Ikshvaku', 'Amish Tripathi', 'Westland Press', 'pdf', '100kb')

Q10.Create a class called "Bank" with properties for "name" and "accounts". Add methods to create new accounts, deposit and withdraw money from accounts, and to calculate the total balance of all accounts. Create an object of this class and test out the methods.

In [60]:
class Bank:
    def __init__(self, name):
        self.name = name
        self.accounts = []

    def create_account(self, account_holder, initial_balance=0):
        account = Account(account_holder, initial_balance)
        self.accounts.append(account)

    def deposit(self, account_number, amount):
        account = self._find_account(account_number)
        if account:
            account.deposit(amount)
        else:
            print("Account not found.")

    def withdraw(self, account_number, amount):
        account = self._find_account(account_number)
        if account:
            account.withdraw(amount)
        else:
            print("Account not found.")

    def total_balance(self):
        total = 0
        for account in self.accounts:
            total += account.balance
        return total

    def _find_account(self, account_number):
        for account in self.accounts:
            if account.account_number == account_number:
                return account
        return None


class Account:
    next_account_number = 1

    def __init__(self, account_holder, initial_balance):
        self.account_number = Account.next_account_number
        Account.next_account_number += 1
        self.account_holder = account_holder
        self.balance = initial_balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
        else:
            print("Invalid amount for deposit.")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print("Insufficient funds.")

    def __str__(self):
        return f"Account Number: {self.account_number}\nAccount Holder: {self.account_holder}\nBalance: {self.balance}"


# Test the Bank class
my_bank = Bank("My Bank")

my_bank.create_account("John Doe", 1000)
my_bank.create_account("Jane Smith", 5000)

print("Total balance before transactions:", my_bank.total_balance())

my_bank.deposit(1, 500)
my_bank.withdraw(2, 2000)

print("Total balance after transactions:", my_bank.total_balance())

print("\nAccount details:")
for account in my_bank.accounts:
    print(account)

Total balance before transactions: 6000
Total balance after transactions: 4500

Account details:
Account Number: 1
Account Holder: John Doe
Balance: 1500
Account Number: 2
Account Holder: Jane Smith
Balance: 3000

In [61]:
my_bank.create_account("Abhishek",3000)

In [62]:
my_bank.total_balance()

7500

In [63]:
for account in my_bank.accounts:
    print(account)

Account Number: 1
Account Holder: John Doe
Balance: 1500
Account Number: 2
Account Holder: Jane Smith
Balance: 3000
Account Number: 3
Account Holder: Abhishek
Balance: 3000