Q1. Create a dictionary called fruits with the following key-value pairs:
- "apple": 0.75
- "banana": 1.25
- "orange": 0.90
- Then, print out the price of a banana.

In [1]:
d1={'apple':.75,'banana':1.25,'orange':.9}

In [2]:
d1

{'apple': 0.75, 'banana': 1.25, 'orange': 0.9}

In [3]:
d1['banana']

1.25

Q2. Create an empty dictionary called ages. Add the following key-value pairs to the dictionary:
- "Alice": 30
- "Bob": 25
- "Charlie": 35
- Then, print out the age of Charlie.

In [5]:
Ages={}

In [7]:
Ages['Alice']=30

In [8]:
Ages

{'Alice': 30}

In [15]:
Ages.update({'Bob':25,'Charlie':35})

In [16]:
Ages

{'Alice': 30, 'Bob': 25, 'Charlie': 35}

In [17]:
Ages['Charlie']

35

Q3. Write a function called word_count(text) that takes a string as input and returns a dictionary where
each key is a word in the text and its value is the number of times that word appears in the text.
- For example, word_count("hello world hello") should return {"hello": 2, "world": 1}.

In [36]:
def word_count(text):
    d2={}
    l1=text.split(' ')
    for i in range(len(l1)):
        cnt=l1.count(l1[i])
        d2[l1[i]]=cnt
    return d2

In [39]:
word_count('abhi abhi sang omy sang abhi')

{'abhi': 3, 'sang': 2, 'omy': 1}

Q4. Create a dictionary called phone_book with the following key-value pairs:
- "Alice": "555-1234"
- "Bob": "555-5678"
- "Charlie": "555-9012"
- Then, prompt the user to enter a name and print out the corresponding phone number. If the name is not in the phone book, print out a message saying that the name was not found.

In [41]:
phone_book={"Alice": "555-1234",
"Bob": "555-5678",
"Charlie": "555-9012"}

In [42]:
phone_book

{'Alice': '555-1234', 'Bob': '555-5678', 'Charlie': '555-9012'}

In [80]:
name=input("Enter Name:")
if name in phone_book.keys():
    print(phone_book[name])
else:
    print("Name Not found")

Enter Name: Abhi

Name Not found

Q5. Write a program that prompts the user to enter a number between 1 and 10. If the number is less than
5, print out "Too low!", otherwise print out "Too high!".

In [82]:
num=int(input("Enter the number between 1 to 10 :"))
if num<5:
    print("Too Low")
else:
    print("Too high")

Enter the number between 1 to 10 : 5

Too high

Q6. Write a program that prompts the user to enter a password. If the password is "password123", print
out "Access granted", otherwise print out "Access denied".

In [86]:
password=input("Enter Password :")
if password=="password123":
    print("Access granted ")
else:
    print("Acces Denied")

Enter Password : password123

Access granted

Q7. Write a program that prompts the user to enter a positive integer. Then, use a loop to print out all the
odd numbers from 1 to that integer.

In [90]:
num1=int(input("Enter the positive  Integer value  :"))
i=1
while(i<=num1):
    if i%2!=0:
        print(i)
    i+=1

Enter the positive  Integer value  : 15

1
3
5
7
9
11
13
15

Q8. Write a program that generates a random number between 1 and 100 and then prompts the user to
guess the number. If the user's guess is too low, print out "Too low!", if the guess is too high, print out "Too
high!", and if the guess is correct, print out "You win!".

In [92]:
import random

In [106]:
#random.seed(1)
n=random.randint(1,100)
num2=int(input("Enter the number between 1 and 100:"))
if num2==n:
    print("You win")
elif num2<n:
    print("Too Low")
else:
    print("Too High")
print("The random number is {} and Guessed number is {}".format(n,num2))

Enter the number between 1 and 100: 18

Too Low
The random number is 73 and Guessed number is 18

Q9. Write a program that generates a random number between 1 and 10 and then prompts the user to
guess the number. The user has three attempts to guess the number. If the user guesses correctly within
three attempts, print out "You win!", otherwise print out "You lose!".

In [129]:
#random.seed(1)
n=random.randint(1,10)
i=1
while(i<=3):
    num2=int(input("Enter the number between 1 and 10:"))
    if num2==n:
        print("You win")
        break
    #
    i=i+1
if i==4:
    print("You Loose!")
      
print("The random number is {} and Guessed number is {}".format(n,num2))

Enter the number between 1 and 10: 8
Enter the number between 1 and 10: 5

You win
The random number is 5 and Guessed number is 5

Q10. Write a program that prompts the user to enter their age and then prints out whether they are a child
(age 0-12), a teenager (age 13-19), an adult (age 20-59), or a senior (age 60+)

In [136]:
age=int(input("Enter the age:"))
if age <0:
    print("Enter Valid Age ")
elif (age >=0 and age<=12):
    print(" age {} is of child".format(age))
elif (age >=13 and age<=19):
    print(" age {} is of Teenger".format(age))
elif (age >=20 and age<=59):
    print(" age {} is of Adult".format(age))
elif (age >=60):
    print(" age {} is of Senior Citizen".format(age))
else:
    print("Not a vlid Age")

Enter the age: -90

Enter Valid Age