Q1. Can you create a Python program that reads a text file and counts the number of words contained
within it? The program should be designed to read the file and break it down into individual words, using
spaces, punctuation marks, and other delimiters to separate the words. It should then count the number
of words found in the file and display this count as output. The program should be flexible enough to work
with different text files and should be able to handle a variety of formatting and punctuation styles.

In [1]:
with open('text.txt','w') as f:
    f.write("I am writing this program! to count the number of words. The program can take different text files")

In [2]:
with open("text.txt","r") as f:
    string=f.read()
    string=string.replace('!',' ')
    string=string.replace('.',' ')
    l1=string.split(' ')
    print(len(l1))
    #f.close()

20

Q2. Could you help me create a Python program that can find and display the longest word in a text file?
The program should be able to read any text file and separate its contents into individual words, taking
into account various delimiters like spaces, punctuation marks, and other characters. Then, it should
compare the length of each word and determine which one is the longest, and finally, print that word as
output. The program should be versatile enough to work with various text files and be able to handle
different formatting styles and punctuation.

In [3]:
with open("text.txt",'r') as f:
    words=f.read().split()
    ln=0
    for i in range(len(words)):
        if len(words[i])>ln:
            ln=len(words[i])
            word=words[i]
    print("The largest word is '{}' and length of the word is {}".format(word,ln))

The largest word is 'different' and length of the word is 9

Q3. Write a Python program to read a text file and print out the most frequent word(s) in the file.

In [4]:
with open('text1.txt','r') as f:
    words=f.read()
    words=words.lower()
    words=words.split()
    d={}
    ln=0
    for i in range(len(words)):
        if (words.count(words[i]))>ln:
            ln=words.count(words[i])
            word=words[i]
    print("Word is '{}' and count is {}".format(word,ln))
        #cnt=words.count(words[i])

Word is 'a' and count is 3

In [5]:
with open("text1.txt","w") as f:
    f.write("the word in a group of word is in a sentence of a paragraph")

Q4. How can you use Python to count the number of rows in a CSV file?

In [6]:
import pandas as pd

In [7]:
df=pd.DataFrame({'Sr no.':[1,2,3,4,5],'Roll No':[25,28,34,45,67],'Name':['Abhishek','Vinay','Rahul','Abhigyan','Nitin']})

In [8]:
df

   Sr no.  Roll No      Name
0       1       25  Abhishek
1       2       28     Vinay
2       3       34     Rahul
3       4       45  Abhigyan
4       5       67     Nitin

In [9]:
df.to_csv('school.csv')

In [10]:
import csv

In [11]:
with open('school.csv','r') as f:
    reader=csv.reader(f)
    s=sum(1 for i in reader)
    print(s)

6

Q5. How can you use Python to calculate the average of a specific column in a CSV file?

In [12]:
with open('school.csv','r') as f:
    reader =csv.reader(f)
    next(reader)
    values=[float(row[2]) for row in reader]
avg=sum(values)/len(values)
print(avg)

39.8

In [13]:
with open('school.csv','r') as f:
    reader=csv.reader(f)
    for row in reader:
        print (row[2])

Roll No
25
28
34
45
67

Q6. Write a Python program to read a JSON file and print out the value of a specified key.

In [14]:
import json

In [15]:
with open("marks.json","r") as f:
    r=json.load(f)
    print(r['Name'])

{'0': 'Abhishek', '1': 'Vinay', '2': 'Rahul', '3': 'Abhigyan', '4': 'Nitin'}

Q7. Can you provide a Python code snippet to write a list of strings into a text file where each string is
written on a new line?

In [16]:
l1=['world','universe','solar system','sun','earth']

In [17]:
with open("string.txt","w") as f:
    for i in l1:
        f.write(f'{i}\n')

Q8. Can you provide a Python code to read a binary file and display the data in hexadecimal format.

In [18]:
import binascii

In [19]:
with open("text.txt","rb") as f:
    r=f.read()
    hex_r=binascii.hexlify(r).decode()
    print(hex_r)

4920616d2077726974696e6720746869732070726f6772616d2120746f20636f756e7420746865206e756d626572206f6620776f7264732e205468652070726f6772616d2063616e2074616b6520646966666572656e7420746578742066696c6573

Q9. Can you write a Python code to read a Comma-Separated Values (CSV) file, apply a specific condition
to each row, and create a new CSV file that contains only the rows that satisfy the condition? For example,
if the CSV file contains information about products and their prices, you may want to create a new CSV
file that only includes the products that are within a certain price range. The program should be able to
read the CSV file, compare the values in each row to the specified condition, and write the rows that meet
the criteria to a new CSV file.

In [20]:
df2=pd.DataFrame({"Product_Id":['P01','P02','P03','P04','P05','P06','P07','P08'],
                  "Product_Name":["Bread","Milk","Choclate","Icecream","Jam","Egg","Curd","Butter"],
                  "Price":[15,54,20,40,60,72,32,100]})

In [21]:
df2

  Product_Id Product_Name  Price
0        P01        Bread     15
1        P02         Milk     54
2        P03     Choclate     20
3        P04     Icecream     40
4        P05          Jam     60
5        P06          Egg     72
6        P07         Curd     32
7        P08       Butter    100

In [22]:
df2.to_csv("Product.csv",index=False)

In [23]:
with open("Product.csv","r") as f,open("save_product.csv","w") as f2:
    reader=csv.reader(f)
    writer=csv.writer(f2)
    
    #next(reader)
    for row in reader:
        if row[2] >str(40):
            writer.writerow(row)

Q10.Write a Python program to read a text file, count the frequency of each word, and write the results to a new text file.

In [24]:
d={}
with open("text1.txt","r") as f,open("save_txt.txt",'w') as f2:
    file=f.read()
    file_split=file.split()
    for word in file_split:
        if word not in d:
            d[word]=file_split.count(word)
            f2.write(f"{word}:{d[word]}\n")

In [25]:
d

{'the': 1,
 'word': 2,
 'in': 2,
 'a': 3,
 'group': 1,
 'of': 2,
 'is': 1,
 'sentence': 1,
 'paragraph': 1}

In [26]:
## Another Method

In [27]:
# Define a function to count the frequency of each word in a list
def count_word_frequency(words):
    frequency = {}
    for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    return frequency

# Read the input text file and count the frequency of each word
with open('text1.txt', 'r') as input_file:
    text = input_file.read()
    words = text.split()
    word_frequency = count_word_frequency(words)

# Write the word frequency data to the output text file
with open('count_words', 'w') as output_file:
    for word, count in word_frequency.items():
        output_file.write(f"{word}: {count}\n")