Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [1]:
a=[2,3,4,5,6,7]

In [2]:
a.append("mango")

In [3]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [4]:
a.extend(["banana","grapes","orange"])

In [5]:
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [6]:
len(a)

10

In [7]:
a.insert(4,'apple')

In [8]:
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [9]:
a.pop()

'orange'

In [10]:
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Q2.
- L = [1,2,3,4,5,6,7]
- Using the above list slice from 1:4

In [11]:
L = [1,2,3,4,5,6,7]

In [12]:
L[1:4]

[2, 3, 4]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [13]:
L

[1, 2, 3, 4, 5, 6, 7]

In [14]:
L[::-1]

[7, 6, 5, 4, 3, 2, 1]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [15]:
l1=[2,4,7,3,6,8]

In [16]:
[x**2 for x in l1]

[4, 16, 49, 9, 36, 64]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [17]:
def sum_tuple(t):
    s=0
    for i in t:
        s=s+i
    return s

In [18]:
sum_tuple((1,4,6,4))

15

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [19]:
s1={"mango","banana","apple"}
s2={"papaya","grapes","watermelon"}

In [20]:
s1.union(s2)

{'apple', 'banana', 'grapes', 'mango', 'papaya', 'watermelon'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [21]:
s3={"me","my","mine"}

In [22]:
s3

{'me', 'mine', 'my'}

In [23]:
s3.add("myself")

In [24]:
s3

{'me', 'mine', 'my', 'myself'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [25]:
s4={"dog","cow","cat","tiger"}

In [26]:
s4

{'cat', 'cow', 'dog', 'tiger'}

In [27]:
s4.remove("cat")

In [28]:
s4

{'cow', 'dog', 'tiger'}

Q9.
- favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
- favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
- Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. Print the resulting list.

In [29]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [30]:
list(zip(favorite_books,favorite_movies))

[('1984', 'The Shawshank Redemption'),
 ('To Kill a Mockingbird', 'The Godfather'),
 ('Pride and Prejudice', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [31]:
l1

[2, 4, 7, 3, 6, 8]

In [32]:
s_list=[]
for i in range(len(l1)):
    j=i+1
    if j>=(len(l1)):
        break
    else:
        s=l1[j]-l1[i]
        s_list.append(s)

In [33]:
s_list

[2, 3, -4, 3, 2]